# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/unity/DemoApp/Builds/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# scripts/
# files/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

node_modules/
./package.json
android/.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/

android/UnityLibrary/
iOS/UnityLibrary/

#example/
example/unity/DemoApp/Builds/
example/unity/DemoApp/Library/
example/unity/DemoApp/Logs/
example/unity/DemoApp/Temp/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/flutter_janus_client

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/unitypackages/flutter_tools/test/data/dart_dependencies_test/**/.packages

android/unityLibrary
ios_xcode/unityLibrary
unity/android/unityLibrary
unity/ios_xcode/unityLibrary
unity/DemoApp/[Ll]ibrary/
unity/DemoApp/[Tt]emp/
unity/DemoApp/[Oo]bj/
unity/DemoApp/[Bb]uild/
unity/DemoApp/[Bb]uilds/
unity/DemoApp/[Ll]ogs/
unity/DemoApp/[Uu]ser[Ss]ettings/

unity/DemoApp/[Mm]emoryCaptures/

# Recordings can get excessive in size
unity/DemoApp/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
unity/DemoApp/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
unity/DemoApp.vs/

# Gradle cache directory
unity/DemoApp.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
unity/DemoApp/.consulo/
unity/DemoApp/*.csproj
unity/DemoApp/*.unityproj
unity/DemoApp/*.sln
unity/DemoApp/*.suo
unity/DemoApp/*.tmp
unity/DemoApp/*.user
unity/DemoApp/*.userprefs
unity/DemoApp/*.pidb
unity/DemoApp/*.booproj
unity/DemoApp/*.svd
unity/DemoApp/*.pdb
unity/DemoApp/*.mdb
unity/DemoApp/*.opendb
unity/DemoApp/*.VC.db

# Unity3D generated meta files
unity/DemoApp/*.pidb.meta
unity/DemoApp/*.pdb.meta
unity/DemoApp/*.mdb.meta

# Unity3D generated file on crash reports
unity/DemoApp/sysinfo.txt

# Builds
unity/DemoApp/*.apk
unity/DemoApp/*.aab
unity/DemoApp/*.unitypackage
unity/DemoApp/*.app

# Crashlytics generated file
unity/DemoApp/crashlytics-build.properties

# Packed Addressables
unity/DemoApp/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
unity/DemoApp/[Aa]ssets/[Ss]treamingAssets/aa.meta
unity/DemoApp/[Aa]ssets/[Ss]treamingAssets/aa/*


unity/virtual-tv/Assets/Resources.meta
unity/virtual-tv/Assets/Resources/BillingMode.json
unity/virtual-tv/Assets/Resources/BillingMode.json.meta
unity/virtual-tv/ProjectSettings/AudioManager.asset
unity/virtual-tv/ProjectSettings/ClusterInputManager.asset
unity/virtual-tv/ProjectSettings/DynamicsManager.asset
unity/virtual-tv/ProjectSettings/EditorBuildSettings.asset
unity/virtual-tv/ProjectSettings/EditorSettings.asset
unity/virtual-tv/ProjectSettings/GraphicsSettings.asset
unity/virtual-tv/ProjectSettings/InputManager.asset
unity/virtual-tv/ProjectSettings/MemorySettings.asset
unity/virtual-tv/ProjectSettings/NavMeshAreas.asset
unity/virtual-tv/ProjectSettings/PackageManagerSettings.asset
unity/virtual-tv/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
unity/virtual-tv/ProjectSettings/Physics2DSettings.asset
unity/virtual-tv/ProjectSettings/PresetManager.asset
unity/virtual-tv/ProjectSettings/ProjectSettings.asset
unity/virtual-tv/ProjectSettings/ProjectVersion.txt
unity/virtual-tv/ProjectSettings/QualitySettings.asset
unity/virtual-tv/ProjectSettings/TagManager.asset
unity/virtual-tv/ProjectSettings/TimeManager.asset
unity/virtual-tv/ProjectSettings/UnityConnectSettings.asset
unity/virtual-tv/ProjectSettings/VFXManager.asset
unity/virtual-tv/ProjectSettings/VersionControlSettings.asset
